<li>
  <%= activity.action %>
  <center>
    <i>
      ---
      <%= t("activity_ago", count: time_ago_in_words(activity.created_at)) %>
      ---
    </i>
  </center>
  <div>
    <%= render "activities/like_form", object: activity %>
  </div>
</li>
