<%= form_for [@book, @review], remote: true do |f| %>
  <div class="field">
    <div class = "star-rating-review"></div>
    <%= f.text_field :content, placeholder: t("title"), class: "form-control" %>
    <%= f.text_area :thesis_statement, placeholder: t("compose_new_body"),
      class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= f.submit t("post"), class: "btn btn-primary" %>
  </div>
<% end %>
